header, footer {
    padding: 5px;
    background-color: #000000;
    font-family: 'Pixel-Style-Font', monospace; 
    color: #FFFF00;
    border: 3px solid #FFFF00; 
    text-transform: uppercase;
    text-shadow: 0 0 10px #FF0000, 0 0 6px purple;;
    text-align: center;
    font-size: large;
    flex: 0 1 10%;
}
body {
    font-family: 'Pixel-Style-Font', monospace; 
    background-color: black;
    color: #FFFFFF;
    flex: 0 1 80%;
}
/* Sets the style for the background */
.start {
    min-height: calc(100vh - 80px);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
}
h1 {
    text-align: center;
    color: cyan;
    text-shadow: 0 0 20px #FFFF00;
}
h2 {
    color: #FFFF00;
    text-shadow: 0 0 20px cyan;
}
li {
    padding: 10px;
}
details > p, ul {
    color: white;
}
/* Sets animation for when details element opens */
.hint[open] {
    animation-name: hintFadeIn;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
/* Animation for details */
@keyframes hintFadeIn {
    0% {
        opacity: 0;
        transform: translateY(-5px); 
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
ul {
    padding: 2px;
    margin-left: 50px;
}
button {
    font-family: 'Pixel-Style-Font', monospace; 
    font-weight: bold;
    display: flex;
    background-color: cyan;
    color: #FFFF00;
    text-shadow: 0 0 30px #000000;
    font-size: large;
    border-radius: 15px;
    margin: 30px auto;
    padding: 10px;
}
details {
    border-top: 1.5px solid #fff000;
    color:#fff000;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    text-align: left;
}

/* Draws door rectangle location */
.door-container {
    width: 250px;
    height: 450px;
    margin: 40px auto;
    position: sticky;
    z-index: 3;
}
/* Fills the door */
.door {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #c07946 5%, #8B4513 95%);
    border: 6px solid #883d07;
    
    transform-origin: left; 
    transition: transform 1.5s ease-in-out; 
    position: absolute;
    z-index: 3;
}
/* Draws the door knob */
.door::after {
    content: ''; 
    position: absolute;
    top: 50%;
    right: 30px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ccaf08; 
    border: 3px solid #883d07;
    transform: translateY(-50%); 
    box-shadow: 
        0 0 5px rgba(0, 0, 0, 0.7), 
        inset 0 0 10px rgba(255, 255, 255, 0.5),
        inset 0 0 5px 3px rgba(0, 0, 0, 0.5); 
}
/* Hides elements */
.hidden-key {
    display: none; 
}
 /* Visual key rectangle location*/
.hidden-key-element {
    position: absolute;
    bottom: 80%;
    right: 42%;
    top: 15%;
    opacity: 0; 
    width: 60px;
    height: 10px;
    background-color: #ccaf08; 
    border-radius: 5px;
    transition: opacity 0.3s ease-in-out;
}
/* Key hover element */
.hidden-key-element:hover {
    opacity: 1;
    cursor: pointer; 
}
/* Key head */
.hidden-key-element::after {
    content: '';
    position: absolute;
    top: -9px;
    right: 1px; 
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 5px solid #FFD700;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); 
}
/* Styling for next level button */
.next-room-button {
    position: absolute; 
    width: 250px;
    z-index: 1; 
    opacity: 0;
    transition: opacity 1s ease-in;
}
/* Highlights button on hover */
button:hover {
    background-color: yellow;
    z-index: 22;
}
li > strong {
    color: #FC1057;
    text-shadow: 0 0 30px white;
}